.sidePageSummary{
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    transition: width .25s;
    padding-top: 75px;
    border-right: 1px solid #ccc;
}
.SideSummary{
    width: 0px;
    position: absolute;
	float:left;
	background-color: #f8f8f8;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
    z-index: 1;
    
}
.vertical-sidebar li {
	padding: 6px 0px;
    white-space: nowrap;
    vertical-align: baseline;
    text-overflow: ellipsis;
    overflow: hidden;
}

.vertical-sidebar li a,
.vertical-sidebar li strong {
    padding-left: 28px;
}

.vertical-sidebar li li a,
.vertical-sidebar li li strong {
    padding-left: 53px;
}

.vertical-sidebar li li li a,
.vertical-sidebar li li li strong {
    padding-left: 78px;
}

.vertical-sidebar li li li li a,
.vertical-sidebar li li li li strong {
    padding-left: 103px;
}

.vertical-sidebar li .fa {
	margin-left: 5px;
}

.vertical-sidebar li li .fa {
	margin-left: 28px;
}

.vertical-sidebar li li li .fa {
	margin-left: 53px;
}

.vertical-sidebar li li li li .fa {
	margin-left: 78px;
}

.vertical-sidebar li.active { 
	border-right: 2px solid blue;
    background: #fff;
}

.vertical-sidebar ul {
    margin: 0px;
    padding-left: 0px;
}

.mw-body .vertical-sidebar ul {
	list-style: none;
}

.mw-body .vertical-sidebar .fa {
    width: 20px;
    float: left;
    height: 20px;
    font-size: 0.85em;
    padding-top: 5px;
    text-align: center;
    border-radius: 3px;
    color: #ccc;
    position: absolute;
}

.mw-body .vertical-sidebar .fa:hover {
	background-color:#ccc;
	color:#aaa;
	cursor: pointer;
}

.mw-body .vertical-sidebar ul ul {
}

.closebtn {
    position: absolute;
    top: 55px;
    right: 0px;
    font-size: 22px;
    margin-left: 0px;
    color: #ccc;
    transition: 0.2s;
    padding: 0 12px;
}

.closebtn:hover {
	color: #aaa;
	cursor: pointer;
}

.openNav {
position: fixed;
    left: 20px;
    top: 73px;
    transition: .2s;
    background: #fff;
    border: 1px solid #eee;
    padding: 6px 10px;
    border-radius: 3px;
}

.openNav:hover {
	cursor:pointer;

}

.pushBodyLeft div.wiki-nav,
.pushBodyLeft div.wiki-nav + div {
	margin-left:250px ;
    transition: margin-left .25s;
}

.pushBodyLeft nav {
    z-index: 10;
}

@media (max-width: 1200px) {
.pushBodyLeft .container {
	width: auto;
	    -webkit-transition: left 250ms ease;
    -moz-transition: left 250ms ease;
    -o-transition: left 250ms ease;
    transition: left 250ms ease;
}
}

.pushBodyRight{
	margin-left:0px ;
	transition: .25s;
}
.fixed {
    position: fixed;
    top: 0
}
.nav li a:link.active {
	font-weight:bold;
	font-size:26px;
}
.positionChanged {
	position:fixed;
	top: 20px;
	left: 20px;
	transition: .2s;
}
.vertical-sidebar li li{
	display:none;
}
.vertical-sidebar li.summarycollapse > ul > li {
	display:block;
}
.summarycollapse > i.right-arrow{
	display:none;
}
i.down-arrow{
	display:none;
}
.summarycollapse > i.down-arrow{
	display:inline;
}