.SideSummary{
    width: 250px;
    position: absolute;
	float:left;
	background-color: #f8f8f8;
    overflow-x: hidden;
    border-right: 1px solid #ccc;
    z-index: 100;
    height:100%;
    padding-top:15px;
    transition: width .25s;
    padding-bottom:50px;
}

.hookMenuTop {
    margin-top: 0px;
    position: fixed;
    top:0;
}


.vertical-sidebar li {
    float: left;
    width:100%;
}

.vertical-sidebar li a,
.vertical-sidebar li strong {
	padding: 6px 5px;
    float: left;
    width:100%;
}

.vertical-sidebar li strong {
    border-right: 3px solid #42B4E6;
    background-color:#fff;
}

.vertical-sidebar li a,
.vertical-sidebar li strong {
    padding-left: 25px;
}

.vertical-sidebar li li a,
.vertical-sidebar li li strong {
    padding-left: 40px;
}

.vertical-sidebar li li li a,
.vertical-sidebar li li li strong {
    padding-left: 55px;
}

.vertical-sidebar li li li li a,
.vertical-sidebar li li li li strong {
    padding-left: 70px;
}

.vertical-sidebar li .fa {
	margin-left: 2px;
    float: left;
}

.vertical-sidebar li li .fa {
    margin-left: 17px;
}

.vertical-sidebar li li li .fa {
    margin-left: 42px;
}

.vertical-sidebar li li li li .fa {
    margin-left: 57px;
}

.vertical-sidebar ul {
    margin: 0px;
    padding-left: 0px;
}

.vertical-sidebar ul {
	list-style: none;
}

.action-edit .buttonOpen,
.action-edit .buttonClose,
.action-edit .SideSummary,
.action-history .buttonOpen,
.action-history .buttonClose,
.action-history .SideSummary,
.action-delete .buttonOpen,
.action-delete .buttonClose,
.action-delete .SideSummary,
.action-protect .buttonOpen,
.action-protect .buttonClose,
.action-protect .SideSummary {
    display: none !important;
}

.action-edit.pushBodyLeft div.SideSummary + div.container,
.action-edit.pushBodyLeft div.footer-main .footer-info,
.action-edit.pushBodyLeft div.footer-main .container,
.action-history.pushBodyLeft div.SideSummary + div.container,
.action-history.pushBodyLeft div.footer-main .footer-info,
.action-history.pushBodyLeft div.footer-main .container,
.action-delete.pushBodyLeft div.SideSummary + div.container,
.action-delete.pushBodyLeft div.footer-main .footer-info,
.action-delete.pushBodyLeft div.footer-main .container,
.action-protect.pushBodyLeft div.SideSummary + div.container,
.action-protect.pushBodyLeft div.footer-main .footer-info,
.action-protect.pushBodyLeft div.footer-main .container {
    margin-left:0px;
    width:100%;
}

.buttonClose {
    float: left;
    transition: .2s;
    padding: 6px 10.5px;
    border-radius: 3px;
    margin-left: 15px;
    color: #bbb;
    margin-top: -15px;
    margin-left: 217px;
    position: absolute;
    z-index: 1000;
    transition: .2s;
    display: none;
    transition: opacity 0.2s;
}

.closebtn:hover {
	color: #aaa;
	cursor: pointer;
}
.buttonOpen
 {
    float: left;
    transition: .2s;
    padding: 6px 10px;
    border-radius: 3px;
    margin-top: -16px;
    position: absolute;
    z-index: 10;
    transition: opacity 0.2s;
}
.hookButtonTop {
    margin-top: 0px;
    position: fixed;
    top: 0;
}


.buttonOpen:hover,
.buttonClose:hover {
	cursor:pointer;
}

.buttonClose:hover {
    color: #444;
}

div.SideSummary + div.container #bodyContent {
    min-height: 300px;
}



.action-edit.containerBodyWithoutSS #p-logo img,
.action-history.containerBodyWithoutSS #p-logo img,
.action-delete.containerBodyWithoutSS #p-logo img,
.action-protect.containerBodyWithoutSS #p-logo img {
    margin-left: 0px;
}

@media (min-width: 769px) {
	.SideSummary {
		margin-top:-20px;
	}
	.pushBodyLeft  {
	    margin-left: 250px;
	    width: calc(100% - 250px);
	}
	
	.pushBodyLeft nav {
	    z-index: 10;
	}

	.pushBodyLeft .containerBodyWithoutSS {
		width: auto;
	    -webkit-transition: left 250ms ease;
	    -moz-transition: left 250ms ease;
	    -o-transition: left 250ms ease;
	    transition: left 250ms ease;
	}
	
	.pushBodyRight{
		margin-left:0px ;
		transition: .25s;
	}
	.fixed {
	    position: fixed;
	    top: 0
	}
	.nav li a:link.active {
		font-weight:bold;
		font-size:26px;
	}
	.vertical-sidebar .fa {
	    width: 20px;
	    float: left;
	    height: 20px;
	    font-size: 0.85em;
	    margin-top: 5px;
	    padding-top: 6px;
	    text-align: center;
	    border-radius: 3px;
	    color: #ccc;
	    position: absolute;
	}

	.vertical-sidebar a:hover {
	    cursor: pointer;
	}
	
	.vertical-sidebar .fa:hover {
		background-color:#ccc;
		color:#aaa;
		cursor: pointer;
	}
	
	.vertical-sidebar li.summarycollapse > i.down-arrow {
		display:block;
	}
	.summarycollapse > i.right-arrow{
		display:none;
	}
	.summarycollapse > ul > li, .summarycollapse > ul > li > ul > li {
		display:block;
	}
	.vertical-sidebar > ul > li > ul > li, .vertical-sidebar > ul > li > ul > li > ul > li  {
		display:none;	
	}
	
	.vertical-sidebar li.summarycollapse > ul > li {
		display:block;
	}
	i.right-arrow{
		display:block;
	}
	i.down-arrow{
		display:none;
	}
}
@media (max-width: 768px) {
	.PushOverlay {
	    transition: opacity 1s;
	    opacity: 1;
	    height: 100%;
	    width: 100%;
	    position: fixed;
	    z-index: 1;
	    top: 0px;
	    left: 0;
	    background-color: rgba(0,0,0, 0.9);
	    text-align: center;
	    opacity: 0.8;
	    transition: opacity 0.25s;
	}

	nav.p-navbar {
		position:fixed;
	    left: 0;
	    right: 0;
	    top: 0;
	}
	
	nav.p-navbar #p-logo {
	    text-align: center;
	}
	
	.buttonOpen.hookButtonOpenTop,
	.buttonOpen {
	    margin-top: 0px;
	    position: fixed;
	    top: 0;
	    color: #fff;
	    font-size: 1.5em;
	    padding: 10px 15px;
	}
	
	.firstHeading {
	    margin-top: 90px;
	}
	
	.positionFixed {
	    position:fixed;
	}
}