.sidePageSummary{
    height: 100%;
    width: 269px;
    background-color: #f8f8f8;
    padding-top: 20px 20px;
    border-right: 1px solid #ccc;
    float : left;
    position : absolute;
    z-index:10;
    bottom:auto;
}
.sidePageSummary .toc {
	padding:20px;
}
.hookMenu {
    margin-top: 0px;
    position: fixed;
    top:0;
}
.AlwaysSeeMenu {
	top:auto;
	bottom:0px;
	height:110vh;
}

.bodyPushWhenSidePage {
	float:left;
	margin-left : 299px;	
}

.bodyPushWhenSidePage #toc {
    display: none;
}

.FixedPosition{
	position:fixed;
}
.bodyPushBottom {
	margin-left:0px;
}
.verticalMobile {
	height:auto;
	position:relative;
}

.ve-activated .sidePageSummary {
    display:none;
}

.ve-activated .bodyPushWhenSidePage {
    margin-left: -1.5em;
}

.ss-fixed-top{
	position:fixed;
    top:0;
}
.ss-fixed-bottom {
	position:fixed;
    bottom:0;
}
