.sidePageSummary {
    width: 269px;
    position : absolute;
    display: inline-block;
    height: 100%;
}

.sidePageSummary .toctitle h2 {
    font-size: 1.2em;
    margin: 0 0 10px;
}

.sidePageSummary .toc {
	padding: 20px 18px 1px;
    border-left: 1px solid #ccc;
}

.sidePageSummary .nav-pills > li > a {
    color: #74818D;
    font-size: 0.9em;
    padding: 3px 11px;
}

.sidePageSummary #toc ul {
    margin-top: 2px;
}

.sidePageSummary .nav-pills > li.active > a {
    color: #ffffff;
    background-color: #52bad5;
}

.sidePageSummary .nav-stacked > li + li {
    margin-top: 0;
}

.hookMenu {
    margin-top: 0px;
    position: fixed;
    top:0;
}
.AlwaysSeeMenu {
	top:auto;
	bottom:0px;
	height:100vh;
}

.bodyPushWhenSidePage {
    max-width: calc(100% - 269px);
    float: left;
    width: 100%;
    padding-right: 15px;
}

.bodyPushWhenSidePage #toc {
    display: none;
}

.FixedPosition{
	position:fixed;
}
.bodyPushBottom {
	margin-left:0px;
}
.verticalMobile {
	height:auto;
	position:relative;
}

.ve-activated .sidePageSummary {
    display:none;
}

.ve-activated .bodyPushWhenSidePage {
    margin-left: -1.5em;
}

.ss-fixed-top{
	position:fixed;
    top:0;
}
.ss-fixed-bottom {
	position:absolute;
}